.main_body_sm {
    margin-top: 5em;
    margin-bottom: 5em;
    width: 68%;
}
.main_body_md {
    margin-top: 5em;
    margin-bottom: 5em;
    width: 78%;
}
.main_body_lg {
    margin-top: 5em;
    margin-bottom: 5em;
    width: 88%;
}
.post_wrap{
    padding: 1.5em;
}
.prev_next_post{
    margin-top: 1.5em;
    text-align: center;
}
.prev_next_post a{
    margin: 0 5em;
    border-radius: 10em;
}
.post_wrap .post_title>div{
    text-align: center;
}
.post_wrap .post_title>div span{
   padding: 0 0.5em; 
}
.post_wrap .post_content{

}
.title_list_group{
    margin-top: 1em;
}
.page_num{
    margin-top: 1em;
    text-align: center;
}
.page_num a{
    border-radius: 10em;
    padding: 0.4em 1em;
    margin: 0;
    margin-left: 0.5em;
}
.page_num a.btn-default{
    border: 2px solid #2BBBAD;
}
a.disabled{
    cursor: not-allowed;
    pointer-events: none;
}
footer.page-footer {
    padding-top: 0;
}
@media screen and (max-width:414px){
    .main_body_sm{
        width: 88%;
    }
    .main_body_md{
        width: 96%;
    }
    .prev_next_post a{
        margin: 0 0.5em;
    }
}