<div class="container main_body_sm">
    <% var last = 2000; %>
    <% site.posts.each(function(post, i){ %>
        <% if(post.date.year()!== last){ %>
            <% if(last !== 2000) {%>
                </div>
            <% } %>
            <div class="title_list_group">
                <h3><span class="badge teal"><%= post.date.year() %></span></h3>
            </div>
            <div class="list-group">
                <%- partial('_partial/article_simple', {post: post}) %>
        <% }else{ %>
            <%- partial('_partial/article_simple', {post: post}) %>
        <% } %>
        <% last = post.date.year() %>
    <% }) %>
</div>
