body {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, "PingFang SC", "Microsoft YaHei", "Source Han Sans SC", sans-serif;
}

a {
    color: #0e83cd;
}

.header-wrap i {
    color: rgba(0, 0, 0, .3);
    font-size: 1.5em;
}

.header-wrap i:hover {
    color: rgba(0, 0, 0, .6);
    cursor: pointer;
}

.header-wrap .return_btn {
    position: absolute;
    top: -3.5em;
    left: -2em;
}

.main_body {
    margin-top: 5em;
    margin-bottom: 5em;
    display: flex;
    flex-direction: row;
    padding: 0;
}

.main_body .left_section {
    flex: 4;
}

.main_body .right_section {
    flex: 1;
    position: relative;
}

.main_body .right_section .right-fixed-wrap {
    position: fixed;
    box-sizing: content-box;
    max-width: 210px;
    padding-left: 2em;
    color: #bbb;
}

.main_body .right_section .right-fixed-wrap .toc_area {
    max-height: 500px;
    overflow-y: scroll;
}

.main_body .right_section .right-fixed-wrap .toc_area::-webkit-scrollbar {
    width: 0;
    background-color: rgba(255, 255, 255, 0);
}

.main_body .right_section .right-fixed-wrap .toc_title {
    display: inline-block;
    border-top: 1px solid #e3e3e3;
    padding: .8em 0;
    margin: 0;
    font-weight: 400;
}

.main_body .right_section .right-fixed-wrap .toc_of_article a {
    color: rgba(0, 0, 0, .3);
}

.main_body .right_section .right-fixed-wrap .toc_of_article a:hover {
    color: rgba(0, 0, 0, .6);
}

.main_body .right_section .toc_of_article ol {
    list-style: none;
    margin: 0;
}

.main_body .right_section .toc_of_article ol.toc {
    padding: 0;
    font-size: 1em;
}

.main_body .right_section .toc_of_article ol.toc-child {
    padding-left: 1.5em;
    font-size: .8em;
}

.post_wrap {
    padding: 2em;
}

.prev_next_post {
    margin-top: 1.5em;
    text-align: center;
}

.prev_next_post a {
    margin: 0 5em;
    border-radius: 10em;
}

.post_wrap .post_title>div {
    text-align: center;
}

.post_wrap .post_title>div span {
    padding: 0 0.5em;
}

.post_wrap .post_content {}


/* 前后篇文章按钮 */

.prev_next_post .btn.btn-outline-default {
    border: 2px solid rgba(0, 0, 0, .6);
    color: rgba(0, 0, 0, .8) !important;
}


/* 底部copyright样式 */

.footer-wrap {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    color: rgba(0, 0, 0, .3);
    padding: 1em 0;
    border-top: 1px solid #efefef;
}

.footer-wrap a {
    color: rgba(0, 0, 0, .6);
}


/* markdown 渲染样式自定义 */

.post_wrap {}

.post_wrap .post_title h3 {
    font-weight: 500;
    margin-bottom: 1rem;
}


/* 标题下方空1rem */

.post_content h1,
.post_content h2,
.post_content h3,
.post_content h4,
.post_content h5,
.post_content h6 {
    font-weight: 500;
    margin-bottom: 1rem;
}


/* markdown小标题下方空0.5rem */

.post_content h5,
.post_content h6 {
    margin-bottom: .5rem;
}


/* markdown每一个段落下方空2rem */

.post_wrap .post_content>p {
    margin-bottom: 2rem;
}


/* markdown每张图片上下都空2rem */

.post_wrap p img {
    display: block;
    margin: 2rem auto;
}


/* 引用块内部的段落样式 */

.post_wrap blockquote p {
    margin-bottom: 0;
    padding: .5rem 0;
    padding-left: 1rem;
    border-left: 6px solid #ddd;
    color: #929292;
}


/* 与段落紧挨着的引用块，和上一个段落空0.5rem */

.post_wrap p+blockquote {
    margin-top: -1.5rem;
    margin-bottom: 2rem;
}


/* 与段落紧挨着的列表，和上一个段落空0.5rem */

.post_wrap p+ul,
.post_wrap p+ol {
    margin-top: -1.5rem;
    margin-bottom: 2rem;
    border-left: solid 6px #fff;
}

.post_wrap p+ul>li,
.post_wrap p+ol>li {
    padding-left: 1rem;
}


/* 与列表紧挨着的引用块，和上一个段落空0.5rem */

.post_wrap ul+blockquote,
.post_wrap ol+blockquote {
    margin-top: -1.5rem;
    margin-bottom: 2rem;
}


/* markdown表格样式 */

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    max-width: 100%;
    border: 1px solid #ddd;
    margin: 2rem 0;
}

table>thead {
    box-sizing: border-box;
}

table>thead>tr {
    box-sizing: border-box;
}

table>thead>tr>th {
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding: .5rem;
    font-weight: 500;
}

table>tbody {
    box-sizing: border-box;
}

table>tbody>tr {
    box-sizing: border-box;
}

table>tbody>tr>td {
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding: .3rem .5rem;
    font-weight: 400;
}


/* 移动端样式 */

@media screen and (min-width:993px) and (max-width: 1050px) {
    .container {
        width: 860px;
    }
    .main_body .right_section .right-fixed-wrap {
        max-width: 160px;
    }
}

@media screen and (max-width:992px) {
    /* 令文章区域的宽度和body相同 */
    .left_section{
        width: 100%;
    }
    /* 小屏幕table不可查看 */
    table{
        display: none;
    }
    /* 同时设置table后面的p元素样式 */
    table+p{
        position: relative;
        margin-top: 4rem;
    }
    table+p::before{
        content: "请在电脑上查看表格内容";
        position: absolute;
        top: -3.5rem;
        left: 0;
        right: 0;
        text-align: center;
    }
    .main_body {
        margin-top: 0em;
        margin-bottom: 2em;
    }
    .main_body .right_section {
        display: none;
    }
    .prev_next_post a {
        margin: 0 0.5em;
    }
    .post_wrap img {
        width: 100%;
    }
}
